# SPDX-FileCopyrightText: 2024 Tomodachi94
#
# SPDX-License-Identifier: MIT
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Checks
on: [push]
jobs:
  just-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
            accept-flake-config = true
      - name: Fetch CI dependencies
        run: |
          nix develop .#ci
      - name: Execute `just check`
        run: |
          nix develop .#ci --command sh -c "just ci"
